# Config example
language = "cpp" # Follow github flavered markdown
compilers = ["__COMPILER__"] # Compilers for doc test
compiler_options = [
    "-std=c++20",
    "-Wall",
    "-Wextra",
    "-pedantic-errors",
    "-I__BOOST_ROOT__/include",
    "-I__FMT_INCLUDE_DIR__",
    "-I../include",
]
target_link_libraries = [
    "__LIBFMT_SO__",
]
# A keyword for test code extraction.
# By writing the keywords at the beginning,
# the tool will extract only the code that needs to be tested from all the code blocks.
dogear = "// begin example"
