name: C++

on:
  push:
    branches: [main]
  pull_request:

env:
  CABIN_TERM_COLOR: always

permissions:
  contents: read

jobs:
  format:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install clang-format-21
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x ./llvm.sh
          sudo ./llvm.sh 21
          sudo apt-get install -y clang-format-21

      - name: Install Cabin
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install cabin

      - name: cabin fmt
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          cabin fmt --check --verbose
        env:
          CABIN_FMT: clang-format-21

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install cpplint
        run: pip install cpplint

      - name: Install Cabin
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install cabin

      - name: cabin lint
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          cabin lint --verbose
