name: Document Test

on:
  push:
    paths:
      - "include/**"
      - "docs/**"
    branches: [main, develop, "feature/*"]
  pull_request:

env:
  FMT_VERSION: 10.2.1

jobs:
  doc_test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        compiler:
          - cc: clang
            cxx: clang++
            ver: 17
          - cc: gcc
            cxx: g++
            ver: 13
    env:
      CC: ${{ matrix.compiler.cc }}-${{ matrix.compiler.ver }}
      CXX: ${{ matrix.compiler.cxx }}-${{ matrix.compiler.ver }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - run: echo "$HOME/.poetry/bin" >> $GITHUB_PATH

      - name: Install CMake
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y -qq pkg-config cmake

      - name: Install Clang
        if: startsWith(matrix.compiler.cxx, 'clang')
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x ./llvm.sh
          sudo ./llvm.sh ${{ matrix.compiler.ver }}

      - name: Print Compiler Version
        run: ${{ env.CXX }} --version

      - name: Restore & Cache {fmt}
        uses: actions/cache@v4
        id: fmt-cache
        with:
          path: ${{ runner.temp }}/libs/fmt
          key: ${{ env.CXX }}-fmt-${{ env.FMT_VERSION }}
      - name: Install fmt
        if: steps.fmt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p ${{ runner.temp }}/libs/fmt
          git clone -q -b ${{ env.FMT_VERSION }} --recursive https://github.com/fmtlib/fmt.git
          cd fmt
          mkdir build && cd build
          cmake -DBUILD_SHARED_LIBS=TRUE -DCMAKE_INSTALL_PREFIX=${{ runner.temp }}/libs/fmt ..
          make -j4 && sudo make install || exit 0
        working-directory: ${{ runner.temp }}

      - name: Document test
        run: |
          cd docs
          curl -s https://api.github.com/repos/LoliGothick/mkdocs-smoke-test/releases \
            | jq -r '.[0].assets[] | select(.name | test("x86_64-unknown-linux-musl.zip")) | .browser_download_url' \
            | xargs -n1 curl -LOk
          unzip x86_64-unknown-linux-musl.zip
          sed -i 's#__COMPILER__#${{ env.CXX }}#g' config.toml
          sed -i 's#__LIBFMT_SO__#${{ runner.temp }}/libs/fmt/lib/libfmt.so#g' config.toml
          sed -i 's#__FMT_INCLUDE_DIR__#${{ runner.temp }}/libs/fmt/include#g' config.toml
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${{ runner.temp }}/libs/fmt/lib/
          x86_64-unknown-linux-musl/release/mkdocs-smoke-test --directory=docs --config=./config.toml
