name: Full Test

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ master ]

jobs:
  full_test:
    runs-on: ubuntu-20.04
    strategy:
      matrix: # 13 boost version * 7 compiler version = 91 jobs
        boost_version: [ 1.67.0, 1.68.0, 1.69.0, 1.70.0,
                         1.71.0, 1.72.0, 1.73.0, 1.74.0, 1.75.0 ]
        config:
          - {
            name: "Latest Version of GCC 8.x",
            cc: "gcc", cxx: "g++",
          }
          - {
            name: "Latest Version of GCC 9.x",
            cc: "gcc-9", cxx: "g++-9",
          }
          - {
            name: "Latest Version of GCC 10.x",
            cc: "gcc-10", cxx: "g++-10",
          }
          - {
            name: "Latest Version of Clang 7.x",
            cc: "clang-7", cxx: "clang++-7",
          }
          - {
            name: "Latest Version of Clang 8.x",
            cc: "clang-8", cxx: "clang++-8",
          }
          - {
            name: "Latest Version of Clang 9.x",
            cc: "clang-9", cxx: "clang++-9",
          }
          - {
            name: "Latest Version of Clang 10.x",
            cc: "clang-10", cxx: "clang++-10",
          }
    env:
      CC: ${{ matrix.config.cc }}
      CXX: ${{ matrix.config.cxx }}
    steps:
      - uses: actions/checkout@v1
      - run: git submodule update --init --recursive
      - run: sudo apt-get -qq update

      - name: Install Specific Compiler (${{ matrix.config.cc }})
        run: sudo apt-get install -y -qq pkg-config cmake libfmt-dev ${{ matrix.config.cc }}

      - name: Restore & Cache boost (${{ matrix.boost_version }})
        uses: actions/cache@v2.1.6
        id: boost-cache
        with:
          path: ${{ runner.temp }}/libs/boost
          key: ${{ matrix.config.name }}-boost-${{ matrix.boost_version }}
      - name: Install boost (${{ matrix.boost_version }}) as static
        if: steps.boost-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p ${{ runner.temp }}/libs/boost
          git clone -q -b boost-${{ matrix.boost_version }} --recursive https://github.com/boostorg/boost.git
          cd boost
          ./bootstrap.sh
          sudo ./b2 link=static install -j2 --prefix=${{ runner.temp }}/libs/boost || exit 0
        working-directory: ${{ runner.temp }}

      - name: Build and test
        run: |
          mkdir build && cd build
          cmake ..             \
            -DBUILD_TESTING=ON \
            -DBoost_USE_STATIC_LIBS=ON \
            -DBOOST_ROOT=${{ runner.temp }}/libs/boost
          make
          make test
